#login-container {
    text-align: center;
    position: relative;
    top:30%;
    margin: auto;
}


h1,h2,h3,h4,h5{
    font-family:'Times', sans-serif;
    font-style: italic;
}
.page {
    display : none;
}
#login-body {
    height:100%;
    min-height: 100%;
    vertical-align: center;
}

#sign-up {
    text-align: right;
}

.sidebar {
    height:100%;
    min-height: 100%;
    vertical-align: center;
}

textarea {
    resize: none;
}

.std-container {
    text-align: center;
    position: relative;
    margin:20px;
    display: inline-block;

}

.modal-container {
    margin:20px;
}

.landing-container {
    position: relative;
}

.view-container {
    margin: 25px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
}

#paper-links{
    float: right;
}

.pagination {
    margin: 0px !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
}

#options-butt{
    height: 34px;
    width: 87px;
    font-size: 14px;
}
#r-options-butt{
    height: 34px;
    width: 87px;
    font-size: 14px;
}