<!DOCTYPE html>
<html lang='en-US'>
<head>
  <title>Research Review</title>
  <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />

  <link rel='stylesheet' type='text/css' href='rrstyle.css' />
  <link rel='stylesheet' type='text/css' href='node_modules/angular-bootstrap/bootstrap.min.css'/> 
  <link rel='stylesheet' type='text/css' href='./node_modules/ng-grid/ng-grid.min.css'/>

  <script src="node_modules/angular/lib/angular.min.js" type="text/javascript"></script> 
  <script src="node_modules/jquery/dist/cdn/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="node_modules/ng-grid/ng-grid-2.0.1.min.js" type="text/javascript"></script>
  <script src="node_modules/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script> 

  <script type='text/javascript'
      src='node_modules/freedom/freedom.js'
      data-manifest='manifest.json'>
  {
    "strongIsolation": true,
    "stayLocal": true,
    "debug": false
  }
  </script>
  <script type='text/javascript' src='./ux.js'></script>

</head>

<body>

<div id="container" ng-app='researcher_app' ng-controller='main_controller'>
  <script type='text/ng-template' id='viewPaperTemplate.html'>
    <h3>{{viewPaperTitle}}</h3> 
    <button ng-click="cancel()">done</button> 
  </script>


  <script type='text/ng-template' id="addPaperTemplate.html">
    <h3>add paper</h3>
    <div id="input">
      <input type="file" accept="application/pdf" id="addFile"/>
    </div>
    <div>
      <button type="button" ng-click="upload()">upload</button>
      <button ng-click="cancel()">cancel</button>  
    </div>
  </script> 

  <tabset>
    <tab heading="Submitter" select="toSubmitter()">
      <tab-heading>Submitter</tab-heading> 
      <h3>my papers</h3> 
    </tab>
    <tab heading="Reviewer" select="toReviewer()">
      <tab-heading>Reviewer</tab-heading>
      <h3>my reviews</h3> 
    </tab>
  </tabset>

  <div id="main">
    <div>
      <button type='button' ng-click='addPaper()' ng-show='submitter_dashboard==true'>add paper</button> 
      <h5 id="fileError"></h5> 
      <div class="gridStyle" ng-grid="reviewOptions" ng-hide='submitter_dashboard==true'></div> 
      <div class="gridStyle" ng-grid="paperOptions" ng-show='submitter_dashboard==true'></div> 
    </div> 
  </div>

  <div id="panel">
    <h2>panel</h2>
    <p> profile and feed </p> 
  </div> 
</div>

</body>
</html>
