<div>
  <!--browse-papers-->
  <div class="view-container">

      <!-- Sort by -->
   <!-- <span class="btn-group" dropdown is-open="status.isopen" ng-controller="drop_controller">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-disabled="disabled">
        Sort By <span class="caret"></span>
      </button>--> 
      <!--<ul class="dropdown-menu" role="menu">
        <li><a href="#">Title</a></li>
        <li><a href="#">Date</a></li>
        <li><a href="#">Rating</a></li>
      </ul>
    </span>-->
    <!-- Sort by -->
   <div class="row">
    <div class="col-md-4"> 
    <tabset>
      <tab heading="Public Papers" onclick="window.freedom.emit('load-public-storage', 0)">
      </tab>

      <tab heading="Shared Private Papers" onclick="window.freedom.emit('load-private-papers', 0)">  
      </tab>
    </tabset>

    <table class="table table-hover">
      <tr ng-repeat="paper in papers"> 
        <td> <a ng-click="getPaper(paper)">{{paper.title}}</a> by <a ng-click="getProfile(paper.author)"> {{paper.author}} </a> </td> 
      </tr> 
    </table> 

  </div>

  <div class="col-md-8">
    <h1> {{currBPaper.title}} </h1> 
  </div>
</div>
  </div> <!--browse-container-->
</div>