<div>
  <div class="view-container">
    <!--Two Columns--papers, paper view-->
    <div class="row">
      <div class="col-md-4">
        <div style="margin-bottom:20px; margin-top:20px">
          <button class="btn btn-default" ng-click="addPaper()">add paper</button>
          <table class="table table-hover">
            <tr ng-repeat="paper in papers"> 
              <td ng-click="showPaperView(paper.key)"> {{paper.versions[paper.versions.length-1].title}} by {{paper.versions[paper.versions.length-1].author}} on {{paper.versions[paper.versions.length-1].date}} </td> 
            </tr> 
          </table>
        </div><!--add paper button and modal-->
      </div>
      <div class="col-md-8">
        <div id="paper-view-container" class="landing-container">
          <h1 align="center"> {{viewTitle}} </h1> 
          <div>
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button"  id = "options-butt" class="btn btn-default btn-sm dropdown-toggle" ng-hide="!viewKey">
                Options <span class="caret">
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="downloadVersion()">Download This Version</a></li>
                <li><a ng-click="inviteReviewers()"> Share paper </a></li>
                <li><a ng-click="addVersion()">Add New Version</a></li>
                <li><a ng-click="deletePaper()">Delete paper</a></li>
                <li><a ng-click="editPrivacy()">Edit Privacy Settings</a></li>
              </ul>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"  ng-disabled="currVersion == 1" ng-click="displayVersion(-1)" ng-hide="!viewKey">Previous</button>
              <button type="button" class="btn btn-default" ng-disabled="currVersion >= totalVersion" ng-click="displayVersion(1)" ng-hide="!viewKey">Next</button>
            </div>
          </div>
          <h4 ng-hide="!viewKey"> Comments </h4>
          <p ng-hide="!viewKey"> {{viewComments}}</p>
          <br>
          <h4 ng-hide="!viewKey"> Reviews </h4>
          <accordion ng-hide="!viewKey">
            <accordion-group ng-repeat="review in reviews" heading={{review.reviewer}}>{{review.text}}</accordion>
          </accordion>

          <p></p>
        </div> <!--landing-container-->
      </div> <!--column-->
    </div> <!--row-->
  </div>
</div> 