<div>
  <div class="view-container">
    <div class="row">
      <div class="col-md-4">
        <div style="margin-bottom:20px; margin-top:20px">
          <button class="btn btn-success" ng-click="addPaper()" ng-show="accessAddBtn">add paper</button>

            <!-- Simple dropdown -->
              <span class="dropdown pull-right">
                <a href class="btn btn-primary dropdown-toggle">
                  <i> sort by </i>  <span class="caret">
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-click="setOrder('versions[versions.length-1].title')">Title</a></li>
                  <li><a ng-click="setOrder('versions[versions.length-1].date')">Oldest First</a></li>
                  <li><a ng-click="setOrder('-versions[versions.length-1].date')">Newest First</a></li>
                </ul>
              </span>

          <table class="table table-hover">
            <tr ng-repeat="paper in papers | orderBy:order"> 
              <td ng-click="showPaperView(paper.pkey)"> {{paper.versions[paper.versions.length-1].title}} by {{paper.versions[paper.versions.length-1].author}} on {{paper.versions[paper.versions.length-1].date.getFullYear()}}-{{paper.versions[paper.versions.length-1].date.getMonth()+1}}-{{paper.versions[paper.versions.length-1].date.getDate()}} </td> 
            </tr> 
          </table>
        </div><!--add paper button and modal-->
      </div>
      <div class="col-md-8">
        <div class="landing-container">
          <h1 align="center" ng-show="currPaper"> {{currPaper.versions[currVnum-1].title}} v. {{currVnum}} of {{currPaper.versions.length}} </h1> 
          <h1 align="center" ng-show="papers.length===0"> Please add a paper. </h1>
          <h1 align="center" ng-show="!currPaper&&papers.length>0"> Please choose a paper. </h1>
          <div>
            <div class="btn-group" dropdown is-open="isopen">
              <button type="button" class="btn btn-default dropdown-toggle" ng-hide="!currPaper">
                Options <span class="caret">
              </button>
              <ul class="dropdown-menu" role="menu" ng-if="accessBtn">
                <li><a ng-click="downloadVersion()">Download this version</a></li>
                <li><a ng-click="inviteReviewers()"> Share paper </a></li>
                <li><a ng-click="addVersion()">Add new version</a></li>
                <li><a ng-click="deleteVersion()">Delete this version</a></li>
                <li><a ng-click="editPrivacy()">Edit privacy settings</a></li>
              </ul>
              <ul class="dropdown-menu" role="menu" ng-if="!accessBtn">
                <li><a ng-click="downloadVersion()">Download This Version</a></li>
                <li><a ng-click="addReview()"> Add Review </a></li>
              </ul>
            </div>

            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"  ng-disabled="currVnum === 1" ng-click="displayVersion(-1)" ng-show="currPaper">Previous</button>
              <button type="button" class="btn btn-default" ng-disabled="currVnum >= currPaper.versions.length" ng-click="displayVersion(1)" ng-show="currPaper">Next</button>
            </div>
          </div>
          <h4 ng-show="currPaper"> Comments </h4>
          <p ng-show="currPaper"> {{currPaper.versions[currVnum-1].comments}} </p>
          <br>
          <h4 ng-show="currPaper"> Reviews </h4>
          <accordion ng-show="currPaper">
            <accordion-group ng-repeat="review in currPaper.versions[currVnum-1].reviews" heading={{review.reviewer}}>{{review.text}}</accordion>
          </accordion>

          <p></p>
        </div> <!--landing-container-->
      </div> <!--column-->
    </div> <!--row-->
  </div>
</div> 
