 <div>

    <div class="view-container">
      <div class="row">
        <div class="col-md-4">
          <div style="margin-bottom:20px; margin-top:20px">
            <div class="btn-group">
              <button type="button" id="pastBtn" class="btn btn-default" ng-click="getPastReviews()">Past Reviews</button>
              <button type="button" id="pendingBtn" class="btn btn-default active" ng-click="getPendingReviews()">Pending Reviews</button>
            </div>
          </div>

          <table class="table table-hover">
            <tr ng-repeat="review in reviews"> 
              <td ng-click="getReviewView(review.rkey)"> {{ review.title }} v.{{review.vnum}} by {{ review.author }} </td> 
            </tr> 
          </table>

        </div>
      
      <!--papers-->
        <div class="col-md-8">
          <h2 ng-show="!reviews.length" align="center">You have no reviews.</h2>
          <h2 ng-show="!currReview && reviews.length" align="center">Paper has been deleted.</h2>
          <div ng-show="currReview" id = "review-view-container" class="landing-container">
            <h1 align="center"> {{ currRVersion.title }} </h1>

            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="downloadRPaper()"><span tooltip="download this version" class="glyphicon glyphicon-download"></span></button>
                <button type="button" class="btn btn-default" ng-click="addReview()"><span tooltip="add review" class="glyphicon glyphicon-list-alt"></span></button>
                <button type="button" class="btn btn-default" ng-click="downloadReviews()"><span tooltip="download all reviews" class="glyphicon glyphicon-tasks"></span></button>
              </div>
            </div>

            <h4> Comments </h4> 
            {{ currRVersion.comments }} 

            <h4> Reviews </h4> 
            <accordion>
              <accordion-group ng-repeat="review in currRVersion.reviews" heading={{review.reviewer}}>{{review.text}}</accordion>
            </accordion>
          </div> <!--landing-container-->
        </div> <!--column-->
      </div> <!--row-->
    </div>
  </div> 
