<div class='modal-container'> 
  <h3>Add Paper</h3>

  <div><textarea id="add-paper-title" rows="1" class="form-control" placeholder="Add paper title"></textarea></div>               
  <div><textarea id="add-paper-comments" rows="4" class="form-control" placeholder="Add comments"></textarea></div>               
  <h4>Privacy Settings</h4> 

    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="addPaperPublic" ng-model = "privacyHeading" value = "Invite reviewers." ng-change="setPublic()"/>
        Public (everyone can see this)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="addPaperPrivate" ng-model="privacyHeading" value="Select users to view this paper." ng-change="setPrivate()"/>
        Private (only co-authors and invited reviewers can see this)
      </label>
    </div>

<h4 id = "privacy-heading"> {{privacyHeading}} </h4> 
  <input  type="text" 
          id = "reviewer-input-2" 
          ng-model="selected" 
          typeahead="state for state in states | filter:$viewValue | limitTo:10" 
          typeahead-on-select="selectMatch(selected); selected='';" 
          class="form-control">
  <hr>

<table>
  <tr ng-repeat="alert in alerts"> 
    <td class='col-md-10'> {{alert}} </td> 
    <td class='col-md-1'> <input tooltip="invite to review" ng-show="privatePaper" type="checkbox"  ng-click="checkAlert(alert)"> </td> 
    <td class='col-md-1'> <span ng-click="deleteUser($index)" tooltip="remove user" class='glyphicon glyphicon-remove'></span> </td> 
  </tr> 
</table>
    <div id="file-container">
      <input type="file" accept="application/pdf" id="addFile"/>
      <button type="button" class="btn btn-success" ng-click="upload()">upload</button>
      <button class="btn btn-danger" ng-click="cancel()">cancel</button>  
    </div>
  </div> 
