<div class='modal-container'> 
  <h3>Upload Review</h3>
  <div>
    <textarea rows="4" cols="90" placeholder="Add comments"></textarea>
  </div>
  <h4>Privacy Settings</h4> 
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Private (only co-authors and invited reviewers can see this)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Public (everyone can see this)
    </label>
  </div>
  <div id="file-container">
    <input type="file" accept="text/plain" id="addFile"/>
    <button type="button" class="btn btn-success" ng-click="upload()">upload</button>
    <button class="btn btn-danger" ng-click="cancel()">cancel</button>  
  </div>
</div> 