<div class='modal-container'> 
  <h3> Edit your title </h3> 
  <div>
  <textarea rows="1" class="form-control" id="title">{{currTitle}}</textarea>
  </div>

  <h3> Edit your comments </h3> 
  <div>
  <textarea rows="4" class="form-control" id="comments">{{currComments}}</textarea>
  </div>

  <h3>Edit privacy settings: currently {{currSetting}} </h3>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="addPaperPublic2"/>
      Public (everyone can see this)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="addPaperPrivate2"/>
      Private (only invited viewers and reviewers can see this)
    </label>
  </div>

  <h3> Users who you invited to review: </h3> 
  <div>
    <table>
      <tr ng-repeat="reviewer in alertList">
        <td> {{reviewer}} </td> 
      </tr>
    </table>
  </div>

  <h3> Users with access to this version: </h3> 
  <div>
    <p ng-show="currSetting==='public'">public paper</p>
    <table>
      <tr ng-repeat="viewer in viewList">
        <td> {{viewer}} </td> 
      </tr>
    </table>
  </div>  
  
  <div id="file-container">
    <button type="button" class="btn btn-success" ng-click="save()">save</button>
    <button class="btn btn-danger" ng-click="cancel()">cancel</button>  
  </div>
</div> 
